In [12]:
%load_ext autoreload
%autoreload 2
import json
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import pandas as pd
import nltk
import matplotlib.pyplot as plt
import string
import re

# Notice that these vectorizers are from `sklearn` and not `nltk`!
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import json
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
import pandas as pd
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)    
import pandas as pd
import nltk
from nltk.probability import FreqDist
from nltk.corpus import stopwords
from nltk.tokenize import regexp_tokenize, word_tokenize, RegexpTokenizer
import matplotlib.pyplot as plt
import string
import re
import numpy as np
from nltk.tokenize import word_tokenize # nltk's gold standard word tokenizer
from nltk.tokenize import sent_tokenize # nltk's sentence tokenizer
from nltk.corpus import stopwords
import itertools
from nltk import WordNetLemmatizer # lemmatizer using WordNet
from nltk.corpus import wordnet # imports WordNet
from nltk import pos_tag # nltk's native part of speech tagging
import nltk
from itertools import chain
nltk.download("stopwords")
nltk.download('punkt') 
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jalilsarwari/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/jalilsarwari/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/jalilsarwari/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/jalilsarwari/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [13]:
# Opening JSON file
filepath = 'user_data/' + 'John' + '/' + 'John' + '_messages.json'
f = open(filepath)

# returns JSON object as 
# a dictionary
data = json.load(f)
message = []
# Iterating through the json
# list
for i in data:
    try:
        if i['media'] == None:
            message.append(i['message'])
    except:pass
# Closing file
f.close()

In [74]:
corpus = pd.read_csv(
    'user_data/John/John_normalized.csv').drop(
    columns = ['Unnamed: 0'])
corpus.dropna(inplace=True)

In [79]:
corpus

                                                       0
0                            oof poorly schedule message
1                              //t.me/c/1179447288/67840
2                                          ignore omrahn
3                                 anyone else interested
4      joke plan day trip next month go ocky store wi...
...                                                  ...
11503                           knew lose video game fun
11504                                        donda titan
11506                                       get 'm happy
11507                                          god mercy
11508                                   mattee clip load

[11021 rows x 1 columns]

In [75]:
from sklearn.feature_extraction.text import CountVectorizer

In [94]:

vec = CountVectorizer()
X = vec.fit_transform(corpus['0'])

# .get_feature_names() attribute useful
countvec_df = pd.DataFrame(X.toarray(), columns=vec.get_feature_names())
countvec_df

,01,04,10,100,10000,1048939858,11,11105,1179447288,123456,...,zinger,ziua,zoe,zombie,zoom,zoomer,zoomers,zorah,zxgohpzpaszr57chkx8gla,zzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11017,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11018,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11019,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
X

<11021x5853 sparse matrix of type '<class 'numpy.int64'>'
	with 37100 stored elements in Compressed Sparse Row format>

In [96]:
countvec_df.shape

(11021, 5853)

In [97]:
satire_df['target'].value_counts()

NameError: name 'satire_df' is not defined

In [98]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [99]:
tf_vec = TfidfVectorizer()
X_tfidf = tf_vec.fit_transform(corpus['0'])

vec_tfidf = pd.DataFrame(X_tfidf.toarray(), columns=tf_vec.get_feature_names())
vec_tfidf.head()

,01,04,10,100,10000,1048939858,11,11105,1179447288,123456,...,zinger,ziua,zoe,zombie,zoom,zoomer,zoomers,zorah,zxgohpzpaszr57chkx8gla,zzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.477445,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [103]:
vec_tfidf.iloc[4].sort_values(ascending=False)[:10]

willing    0.375461
ocky       0.370087
store      0.370087
trip       0.349925
joke       0.313652
plan       0.308114
month      0.289180
next       0.273949
day        0.246855
go         0.223004
Name: 4, dtype: float64

In [102]:
corpus

                                                       0
0                            oof poorly schedule message
1                              //t.me/c/1179447288/67840
2                                          ignore omrahn
3                                 anyone else interested
4      joke plan day trip next month go ocky store wi...
...                                                  ...
11503                           knew lose video game fun
11504                                        donda titan
11506                                       get 'm happy
11507                                          god mercy
11508                                   mattee clip load

[11021 rows x 1 columns]